@use "../../styles/colors" as *;
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .navbar {
    width: 100%;
    background-color: $primary;
    color: $textcolor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);

    .logo {
      h1 {
        margin: 0;
        font-size: 1.7rem;
        font-weight: bold;
      }
    }

    .navbar-links {
      display: flex;
      gap: 2rem;
      align-items: center;
      a {
        color: $textcolor;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.1rem;
        transition: color 0.2s;

        &:hover {
          color: $textcolor;
        }
      }
      .btn-primary {
        background-color: $secondary;
        border-style: none;
        padding: 8px 15px;
        border-radius: 3px;
        font-weight: bold;
        cursor: pointer;
        color: $white;
        &:hover {
          background-color: darken($secondary, 5%);
        }
      }
    }
  }
}
#banner {
  flex: 1 1 auto;
  min-height: 0;
  color: $textcolor;
  width: 100%;
  padding: 1.1rem;
  .fondo {
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/banner.webp");
    background-size: cover;
    background-position: center;
    text-align: right;

    h2 {
      font-size: 4rem;
      margin: 0;
      color: $white;
    }

    p {
      font-size: 1.2rem;
      max-width: 600px;
      text-align: right;
      color: $white;
    }

    .btn {
      margin-top: 1rem;
    }
  }
}
.header-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 1.2rem;
}
